# Node modules
node_modules/

# TypeScript build artifacts\
dist/
out/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.*.local

#for vs code
.vscode/

# Temporary files
*.tmp
*.temp
hashgen.ts

# ESLint cache
.eslintcache