.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background-color: #CF2424;


    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logoutButton {
    display: flex;
    height: 158px;
    padding: 0.5vw 4vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 3vw;
}