.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.APIbutton {
  border: none;
  height: 5vw;
  width: 20vw;
  font-size: 2vw;
  background-color: #61DAFB;
  display: block;
  margin: 0.3vw;
  
}

.APIbutton:active {
  background-color: #163139;
}

.inputField {
  height: 4vw;
  width: 20vw;
  margin-bottom: 2vw;
  font-size: 2vw;
}

.itemSection {
  width: 20vw;
}

.dataItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.dataItemDeleteButton {
  border: none;
  font-size: 2vw;
}